{#{% extends "layout.html" %}#}
{##}
{#{% block title %}#}
{#    INDEX#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{#    <div class="container">#}
{#    <h1>Login As</h1>#}
{#        <form method="post" action="/">#}
{#            <input type="submit" value="ADMIN" name="admin"/>#}
{#            <input type="submit" value="VOTER" name="voter" />#}
{#        </form>#}
{#    </div>#}
{#    <!-- <div>#}
{#        <form methods="post" action="/">#}
{#            <input type="submit" value="View Election Results" name="results"/>#}
{#        </form>#}
{#    </div> -->#}
{#{% endblock %}#}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Center the buttons vertically and horizontally */
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Vote Trust</span>
  </div>
</nav>
  <div class="center">
    <div>
        <form method="post" action="/">
            <button class="btn btn-primary mr-2"><input type="submit" value="ADMIN" name="admin"/></button>
            <button class="btn btn-secondary"><input type="submit" value="VOTER" name="voter" /></button>
        </form>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
