{% extends "layout.html" %}

{% block title %}
    OTP Verification
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Enter OTP sent to {{ phone_no }}</h1>
            <div id="phoneverify">
                <form id="otp_verify_form" action="/verify" method="POST" class="p-4 bg-light rounded shadow">
                    <div class="mb-3">
                        <label for="otp" class="form-label">OTP</label>
                        <input type="password" id="otp" name="otp" class="form-control">
                    </div>
                    <div class="d-flex justify-content-center">
                        <input type="submit" id="otp_submit" value="Verify" class="btn btn-primary">
                    </div>
                    <input type="hidden" name="mobile_no" value="{{ phone_no }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
